parameters:
    level: max
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - packages
        - tests
    excludePaths:
        - tests/var
        - tests/src/App/Factory
        - packages/analytics-core/src/Engine/SummaryRefresher/Query/RollUpSummaryToSummaryCubingStrategyQuery.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        -
            identifier: property.unusedType
            path: packages/analytics-core/src/Time/Dimension/*
        -
            identifier: property.onlyWritten
            path: packages/analytics-core/src/Time/Dimension/*        
        -
            identifier: property.onlyRead
            path: tests/src/App/Entity/*
        -
            identifier: property.unusedType
            paths:
                - tests/src/App/Entity/OrderSummary.php
        -
            identifier: return.unusedType
            path: packages/analytics-core/src/Doctrine/Types/TimeBin/TimeBinType.php
        -   '#Doctrine\\ORM\\Query but does not specify its types: TKey, TResult#'
        -
            message: '#of internal class Symfony\\Polyfill\\Intl\\Icu\\IntlDateFormatter from outside its root#'
            reportUnmatched: false
        -
            message: '#Attribute class Override does not exist#'
            reportUnmatched: false
        -
            message: '#Cannot call method modify\(\) on DateTimeImmutable\|false#'
            reportUnmatched: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/phpat/phpat/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

services:
    -
        class: Rekalogika\Analytics\Tests\ArchitectureTests\ArchitectureTest
        tags:
            - phpat.test