{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock title %}

{% block body %}
    {{ analytics_render_control(query) }}

    <div class="mt-5" style="min-height: 500px;">
        <turbo-frame id="pivottable">
        {% if result %}{{ result|raw }}{% endif %}
        </turbo-frame>
    </div>
{% endblock %}
