{% extends 'base.html.twig' %}

{% block body %}
    {% set output %}
        <div class="mt-5" style="min-height: 500px;">
            <div class="mb-5">
                {% if chart %}{{ render_chart(chart) }}{% endif %}
            </div>

            <div>{{ pivotTable|raw }}</div>
        </div>
    {% endset %}

    {{ analytics_render_control(query: query, output: output, target: 'pivottable', urlParameter: 'parameters') }}

    <turbo-frame id="pivottable">
    </turbo-frame>
{% endblock body %}