{% extends 'base.html.twig' %}

{% block body %}
    {{ analytics_render_control(query, frame: 'pivottable', urlParameter: 'parameters') }}

    <div class="mt-5" style="min-height: 500px;">
        <turbo-frame id="pivottable">
            <div class="mb-5">
                {% if chart %}{{ render_chart(chart) }}{% endif %}
            </div>

            <div>{{ pivotTable|raw }}</div>
        </turbo-frame>
    </div>
{% endblock %}
