{% extends 'base.html.twig' %}

{% block body %}
    {{ analytics_render_control(query, frame: 'pivottable', urlParameter: 'parameters') }}

    <div class="mt-5" style="min-height: 500px;">
        <turbo-frame id="pivottable">
        {{ result|raw }}
        </turbo-frame>
    </div>
{% endblock %}
